#overlay {
  position: fixed;
  display: none; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.90);
  z-index: 2;
  cursor: pointer;
  display: flex; 
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease; /* Overlay fades in/out over 1 second */
}

#overlay img {
  display: block;
  width: 7.5%; 
  height: auto;
  max-width: 90%;
  max-height: 90%;
  filter: invert(100%);
  opacity: 0;
  transition: opacity 0.5s ease; /* Image fades in/out over 0.5 seconds */
}

#overlay.show {
  opacity: 1;
  display: flex;
}

/* Image fade-in class */
#overlay img.visible {
  opacity: 1; /* Image becomes visible */
}
